# Individual files
bin/chromium-lights filter=git-crypt diff=git-crypt
bin/open-todo filter=git-crypt diff=git-crypt
bin/download_newspapers filter=git-crypt diff=git-crypt
sway/my-startup-apps filter=git-crypt diff=git-crypt
sway/my-shortcuts filter=git-crypt diff=git-crypt
bin/mount_cryptfs.sh filter=git-crypt diff=git-crypt
bin/mount_cryptfs filter=git-crypt diff=git-crypt
bin/borgmatic-backup filter=git-crypt diff=git-crypt
bin/myshrc.sh filter=git-crypt diff=git-crypt

# Folders
config/** filter=git-crypt diff=git-crypt

# Filetypes
*.key filter=git-crypt diff=git-crypt

# secretdir/** filter=git-crypt diff=git-crypt
